<div>
	<div class="medium-5 columns">
		<h3><%= @user.name%></h3>

		<%if (@user.admin)%>
			<p>Du är admin</p>
		<%else%>
			<p>du är inte admin</p>
		<%end%>

		<p>Email: <%= @user.email%></p>

		<p>---Achivements??---</p>

		<p>Kontakta mig: <button id="" class="button success small"><%= mail_to @user.email%></button></p>
	</div>

	<div class="medium-3 columns">

		<p>---Completion---</p>

	</div>

	<div class="medium-4 columns">
		<h3>Flöde??</h3>
		<div class="panel feed">
			<% @activities.each do |activity|%>
				<div class="flow_profile">
					<%= activity.owner.name%>
				</div>
			<% end %>
		</div>
	</div>
</div>