/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
 @import 'foundation-icons';

 /*  FONTS  */
 @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic|Oswald:400,300|Montserrat);

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/


a:link, a:active, a:hover, a:visited {
  color: #000;
}

.table {
  width: 100%;
  height: auto;
}

.item:first-child {
  border-top: 1px solid #999;
}

.item {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background: #f3f3f3;
}

.td {
  width: 100%;
  height: auto;
}

#sortable:hover {
  cursor: pointer;
}

.quiz_form {
  display: none;
}

#questions_form {
  display: none;
}

.quizzes {
    width: auto;
    height: auto;
}

.hidden {
  display: none;
}

.video_wrapper {
    width: 100%;
    height: auto;
}

.video_name {
    width: 100%;
    height: auto;
}

 .step_form {
   width: auto;
   height: auto;
   display: none;
 }

 .comment_form {
   width: auto;
   height: auto;
   display: none;
 }

.video_form {
    width: auto;
    height: auto;
    display: none;
}

.guide_form {
    width: auto;
    height: auto;
    display: none;
}

.assignment_form {
    width: auto;
    height: auto;
    display: none;
}

.examination_form {
    width: auto;
    height: auto;
    display: none;
}


.startWrapper
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #123;
}


/* ----------------- NEW CSS --------------- */


.wrapper
 {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}



.full_width

{
  width: 100%;
  height: 900px;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


.sidebar
{
  height: 100%;
  position: fixed;
  background: radial-gradient(at center bottom, #123, #112);
}

.top 
{
  background: radial-gradient(at center bottom, #123, #112);
  margin: 0;
  padding: 0;
  color: #fff;
  height: 10em;
  text-align: center;
  line-height: 10em;
}

.top img
{
  width: 80%;
  height: auto;
}

.top h1
{
  color: #fff;
  line-height: 5em;
}
.top h3
{
  color: #fff;
  margin-top: -3em;
}


.side 
{
  background: radial-gradient(at center bottom, #123, #112);
  border-bottom: 1px solid #000;
  text-align: center;
  height: auto;
  display: block;
  cursor: pointer;
  padding: 0;
}

.side p 
{
  color: #fff;
  line-height: 3em;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.side p:hover
{
  color: #5ccde2;
}

.side a
{
  color: #fff;
  line-height: 3em;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.side a:hover
{
  color: #5ccde2;
}

.arch
{
  text-align: center;
  color: #fff;
  display: none;
  height: auto;
  padding: 1em;
  z-index: 10;
}


.arch h4
{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
}

.arch img
{
  width: 70px;
  height: 70px;
}

.arch img:hover
{
  transform: scale(2);
}

.feed
{
  padding-top: 1em;
  text-align: center;
  height: auto;
  width: 100%;
  overflow-y: auto;
  background: radial-gradient(at center bottom, #123, #112);
}

.feed h4
{
   font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
}



.in
{
  height: 100%;
  background-color: #fff;
 
}

.first
{
  display: flex;
  line-height: 10em;
  background-color: #fff;
  height: 7em;
}

.first h1
{
  line-height: 2em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.add-mod-btn
{
  position: absolute;
  top: 0;
  background-color: #2c537b;
  width: auto;
  height: 3em;
  padding: 1em;
}

.add-mod-btn:hover
{
  height: 4em;

}

.ease
{
  transition: all 0.5s ease;
}

.add-mod-btn p 
{
  color: #fff;
  line-height: 1em;
  font-family: 'Oswald', sans-serif;
}

.add-mod-btn2
{
  position: absolute;
  top: 0;
  left: 10em;
  cursor: pointer;
  background-color: #2c537b;
  width: auto;
  height: 3em;
  padding: 1em;
}

.add-mod-btn2:hover
{
  height: 4em;

}

.add-mod-btn2 p 
{
  color: #fff;
  line-height: 1em;
  font-family: 'Oswald', sans-serif;
}


.feeed
{
  height: 15em;
  display: none;
}

.contents
{
  background-color: #fff;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.modules
{
  background-color: #123;
  border-radius: 5px;
}


.mods 
{
 margin-bottom: 30px;
}

.text 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5em 2em;
  text-align: center;
}

.text h1
{
  color: #fff;
}

.text p
{
  color: #fff;
}

@media only screen and (max-width: 40em) {

.side
{
  display: none;
}

.arch
{
  display: none;
}
}

