/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
@import 'foundation-icons';

/*  FONTS  */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic|Oswald:400,300|Montserrat);

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.bip-text {
  font-size: 14px!important;
}

.fi-x-fix {
  color: #000;
  font-size: 14px!important;
}

.cancel-btn {
  margin-left: 5px;
  border-radius: 0;
}

#reply_form {
  display: none;
}

.comments {
  width: auto;
  height: auto;
}

.replies {
  width: auto;
  height: auto;
  margin-left: 15%;
  display: none;
}

.replies hr
{
  width: 60%;
  text-align: center;
}


a:link, a:active, a:hover, a:visited {
  color: #ccc;
}


.table {
  width: 100%;
  height: auto;
}

.item:first-child {
  border-top: 1px solid #999;
}

.item {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background: #f3f3f3;
}

.td {
  width: 100%;
  height: auto;
}

#sortable:hover {
  cursor: pointer;
}

.quiz_form {
  display: none;
}

#questions_form {
  display: none;
}

.quizzes {
  width: auto;
  height: auto;
}

.hidden {
  display: none;
}

.video_wrapper {
  width: 100%;
  height: auto;
}

.video_name {
  width: 100%;
  height: auto;
}

.step_form {
  position: absolute;
  width: 500px;
  top: 50px;
  right: 0;
  padding: 5%;
  background-color: #EDEAE8;
  height: auto;
  display: none;
  z-index: 999;
  border: 0 0 1px 1px solid #C9C7C5;
  border-radius: 0 0 0 3px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.3);
box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.3);
}

.comment_form {
  width: auto;
  height: auto;
  display: none;
}

.form-style
{
  margin-top: 19px;
  background-color: #F8F5F2;
  border-radius: 3px;
  border: 1px solid #E3E1DE;
}

.input-search_form
{
  width:300px;
  margin-left:-15px;
  height:100%;
  outline: none;
  color: #333;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.video_form {
  width: auto;
  height: auto;
  display: none;
}

.guide_form {
  width: auto;
  height: auto;
  display: none;
}

.assignment_form {
  width: auto;
  height: auto;
  display: none;
}

.module_form {
  position: absolute;
  width: 500px;
  top: 50px;
  right: 0;
  padding: 5%;
  background-color: #EDEAE8;
  height: auto;
  display: none;
  z-index: 999;
  border: 1px solid #C9C7C5;
  border-radius: 0 0 0 3px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.3);
}

.examination_form {
  position: absolute;
  width: 500px;
  top: 50px;
  right: 0;
  padding: 5%;
  background-color: #EDEAE8;
  height: auto;
  display: none;
  z-index: 999;
  border: 1px solid #C9C7C5;
  border-radius: 0 0 0 3px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.3);
box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.3);
}

.form-btn
{
  border-radius: 3px;
}

.form-btn:hover
{
  background-color: rgba(0,0,0,0.6);
}

.answer-btn
{
  display: block;
}

.answer-btn:hover
{
  cursor: pointer;
  color: #888;
}


.fw {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.startWrapper
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #123;
}


/* ----------------- NEW CSS --------------- */

.starter-pos
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wrapper
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container
{
  width: 100%;
  height: 900px;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


/* -----------   SIDEBAR MENU  ------------ */

.sidebar
{
  position: fixed;
  top: 10em;
  height: 100%;
  background-color: #1a1f1d;
  padding-top: 20px;
}

.top
{
  position: fixed;
  background-color: #1a1f1d;
  margin: 0;
  padding: 0;
  color: #fff;
  height: 10em;
  text-align: center;
  line-height: 10em;
}

.top img
{
  width: 80%;
  height: auto;
}

.top h1
{
  color: #fff;
  line-height: 5em;
}
.top h3
{
  color: #fff;
  margin-top: -3em;
}


.side
{
  background-color: #1a1f1d;
  height: 50px;
  display: block;
  cursor: pointer;
  align-self: center;
  padding: 0;
}

.side:hover a
{
  color: #999;
}

.side i
{
  margin-right: 15px;
  font-size: 20px!important;
}

.side p
{
  margin-left: 2em;
  color: #666;
  line-height: 4;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.side p:hover
{
  color: #999;
}

.side a
{
  color: #666;
  line-height: 3em;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.side a:hover
{
  color: #999;
}

.tt-suggestion p {
  color: #000 !important;
  display: block;
}

.tt-suggestion p:hover {
  color: #5ccde2 !important;
}

.arch
{
  text-align: center;
  color: #fff;
  display: none;
  height: auto;
  padding: 1em;
  z-index: 10;
}

.input-group-btn input
{
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: #313643;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin: -1px;
  border-style: solid;
  border-width: 1px;
  overflow: visible;
  font-size: 14px;
  height: 2.45rem;
  line-height: 2.6rem;
  text-align: center;
}

.input-group-btn input:hover
{
  background-color: #444b5c;
}

.input-group-btn p
{
  color: #fff;
}

#user_search
{
  background-color: #fff;
  width: 300px;
  height: 50px;

}

#user_search:focus
{
  border: none;
}


.small-9.columns span
{
  width: 100% !important;
}


.arch h4
{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
}

.arch img
{
  width: 75px;
  height: 75px;
}

.arch img:hover
{
  transform: scale(3);
  z-index: 10;
}

.searchforms
{
  width: 100%;
  margin: 0;
  padding: 0;
}

.feed
{
  padding-top: 1em;
  text-align: center;
  height: auto;
  width: 100%;
  color: #fff;
  overflow: hidden;
background-color: rgba(0,0,0,0.5);
}

.feed a
{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
}

.avtxt
{
  height: 3em;
  margin-bottom: 1.5em;
  line-height: 2em;
  padding: 0;

}


.in
{
  height: 100%;
  background-color: #fff;

}

.topbar
{
  height: 50px;
  background-color: #1a1f1d;
}



.bread
{
  line-height: 50px;
  color: #383e3c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-left: 50px;
}

.redbtn
{
  height: 35px;
  margin: 8px;
  border-radius: 7px;
  padding: 10px 30px;
  background-color: #e74c3c;
}
.redbtn:hover
{
  background-color: #9d261a;
  color: #ccc;
}

.redbtn:focus
{
  background-color: #EDEAE8;
  border: none;
  margin-top: 0;
  height: 100%;
  border-radius: 0;
  color: #000;
}


.redbtn p
{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.sliderimg
{
  height: 350px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}

.sliderimg img
{
  width: 100%;
  height: 100%;
  z-index: 1;
}

.imageslider
{
  padding: 0;
}

.slider
{
  position: absolute;
  padding: 20px 40px;
  background-color: rgba(39,44,40,0.8);
  height: 80%;
  width: 90%;
  margin: 3.2% 5%;
  z-index: 10;
  color: #fff;
}

.first
{
  display: flex;
  line-height: 10em;
  background-color: #fff;
  height: 7em;
}

.first h1
{
  line-height: 4em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.add-mod-btn
{
  position: absolute;
  top: 0;
  background-color: #123;
  width: auto;
  height: 3em;
  color: #fff;
  padding: 1em;
}

.add-mod-btn:hover
{
  height: 4em;
}

.ease
{
  transition: all 0.5s ease;
}

.add-mod-btn a
{
  color: #fff;
  line-height: 1em;
  font-family: 'Oswald', sans-serif;
}


.contents
{
  background-color: #fff;
  display: flex!important;
  flex-direction: row!important;
  justify-content: center!important;
}

.moduwrapper
{
   display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}


.modu
{
  height: 260px;
  margin: 0 2em 2em 0;
  padding: 0;
  display: block;
}


.mod-headline
{
width: 100%;
height: 30%;
margin:0;
text-align: center;

}

.headline-p h1
{
  margin-top: 3%;
  line-height: 200%;
  font-size: 2em;
  padding: 0 3.5vw;
  position: relative;
  font-family: 'Roboto', 100;
  color: #fff;
}

.headline-p
{
  height: 100%;
  width: 100%;
  padding: 0;
   display: flex;
  flex-direction: row;
  justify-content: center;
}



.mod-desc
{
  width: 100%;
  height: 70%;
  padding: 15%;
}

.desc-p
{
  position: absolute;
  width: 70%;
  padding: 0;
   display: flex;
  flex-direction: row;
  justify-content: center;
}

.desc-p p
{
  color: #fff;
}

.input-search
{
  margin-left: -15px;
  height: 100%!important;
  width: 300px;
  padding-right: 2em;
  background-color: #fff;
  padding: 0;
}

.form-control
{
  width: 100%;
  height: 100%;
}

.mobile-menu-btn
{
  display: none;
}

.tableadmin
{
  border: 1px solid #000;
}

.item
{
  border: none !important;
  padding: 1em;
  margin-bottom: 20px;
  background-color: #fff;
}

.headline
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;

}

.step-comp
{
  z-index: -5;
  width: 0%;
  height:100%;
  background:#2BAAe2;
  position:absolute;
  opacity:0.8;
  border-right:1px solid black;
}

.step
{
  display: block;
  width: 100%;
  height: 170px;
  z-index: 1000;
  text-align: center;
  margin-bottom: 3em;
  background-color: #333333;
  opacity: 0.9;
  padding: 0;
}

.step-bottom
{
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #1A1F1D;
  z-index: 100;
  width: 100%;
}

.step-bottom p
{
  line-height: 50px;
}

.step a
{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  z-index:10000000;
}

.step p
{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  z-index:100000;
}
.step h2
{
  z-index:100;
}

.step-gray
{
  opacity: 0.3;
}

.fi-pencil, .fi-x
{
  font-size: 20px;
}

@media only screen and (max-width: 640px) {

  .text
  {
    padding: 5% 10%;
  }



  .avatar
  {
    /*display: none; <--- Med eller utan avatar i mobile?*/
    opacity: 0.2;
  }

  .top
  {
    position: relative;
    top: 0;
    left: 0;
    height: 10em;
  }

  .sidebar
  {
    position: absolute;
    float: left;
    top: 10em;
    display: none;
    padding: 0;
    width: 85%;
    height: 100%;
    z-index: 200;
    height: auto;
  }

.feed
{
  overflow-y: auto;
}


  .mobile-menu-btn
  {
    color: #123;
    display: inline-block;
    float: left;
    width: 15%;
    padding: 1em;
    top: 2em;
    z-index: 200;
  }


  .menu-btn-mobile
  {
    background-color: #123;
    height: auto;
    line-height: 4em;
    padding: 2em;
  }

  .login-logo
  {
    background: radial-gradient(at center bottom, #123, #112);
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 3px solid #fff;
  }
  .login-logo h2
  {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    color: #fff;
    line-height: 200px;
  }

  .text
  {
    padding: 20% 5%;
  }

  .text h1
  {
    font-size: 2em;
  }

  .contents
{
  background-color: #fff;
  margin: 3em 0 0 0;
}


}
