/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
 @import 'foundation-icons';

 /*  FONTS  */
 @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic|Oswald:400,300|Montserrat);

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/


a:link, a:active, a:hover, a:visited {
  color: #000;
}



.table {
  width: 100%;
  height: auto;
}

.item:first-child {
  border-top: 1px solid #999;
}

.item {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background: #f3f3f3;
}

.td {
  width: 100%;
  height: auto;
}

#sortable:hover {
  cursor: pointer;
}

.quiz_form {
  display: none;
}

#questions_form {
  display: none;
}

.quizzes {
    width: auto;
    height: auto;
}

.hidden {
  display: none;
}

.video_wrapper {
    width: 100%;
    height: auto;
}

.video_name {
    width: 100%;
    height: auto;
}

 .step_form {
   width: auto;
   height: auto;
   display: none;
 }

 .comment_form {
   width: auto;
   height: auto;
   display: none;
 }

.video_form {
    width: auto;
    height: auto;
    display: none;
}

.guide_form {
    width: auto;
    height: auto;
    display: none;
}

.assignment_form {
    width: auto;
    height: auto;
    display: none;
}

.examination_form {
    width: auto;
    height: auto;
    display: none;
}

.startWrapper
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #123;
}


/* ----------------- NEW CSS --------------- */

.starter-pos
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wrapper
 {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

.container
{
  width: 100%;
  height: 900px;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


/* -----------   SIDEBAR MENU  ------------ */

.sidebar
{
  height: 100%;
  position: fixed;
  top: 10em;
  background: radial-gradient(at center bottom, #123, #112);
}

.top 
{
  position: fixed;
  background: radial-gradient(at center bottom, #123, #112);
  margin: 0;
  padding: 0;
  color: #fff;
  height: 10em;
  text-align: center;
  line-height: 10em;
}

.top img
{
  width: 80%;
  height: auto;
}

.top h1
{
  color: #fff;
  line-height: 5em;
}
.top h3
{
  color: #fff;
  margin-top: -3em;
}


.side 
{
  background: radial-gradient(at center bottom, #123, #112);
  border-bottom: 1px solid #000;
  text-align: center;
  height: auto;
  display: block;
  cursor: pointer;
  padding: 0;
}

.side p 
{
  color: #fff;
  line-height: 3em;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.side p:hover
{
  color: #5ccde2;
}

.side a
{
  color: #fff;
  line-height: 3em;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.side a:hover
{
  color: #5ccde2;
}

.arch
{
  text-align: center;
  color: #fff;
  display: none;
  height: auto;
  padding: 1em;
  z-index: 10;
}

.input-group-btn input
{
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: #313643;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -1px;
  border-style: solid;
  border-width: 1px;
  overflow: visible;
  font-size: 14px;
  height: 2.45rem;
  line-height: 2.45rem; 
}

.input-group-btn input:hover
{
  background-color: #fff;
  color: #000;
}

.small-9.columns span 
{
  width: 100% !important;
}


.arch h4
{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
}

.arch img
{
  width: 70px;
  height: 70px;
}

.arch img:hover
{
  transform: scale(2);
}

.feed
{
  padding-top: 1em;
  text-align: center;
  height: auto;
  width: 100%;
  color: #fff;
  overflow-y: auto;
  background: radial-gradient(at center bottom, #123, #112);
}

.feed a
{
   font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
}

.fedbox
{
  padding: 0;
}


.in
{
  height: 100%;
  background-color: #fff;
 
}

.first
{
  display: flex;
  line-height: 10em;
  background-color: #fff;
  height: 7em;
}

.first h1
{
  line-height: 4em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.add-mod-btn
{
  position: absolute;
  top: 0;
  background-color: #123;
  width: auto;
  height: 3em;
  color: #fff;
  padding: 1em;
}

.add-mod-btn:hover
{
  height: 6em;
}

.ease
{
  transition: all 0.5s ease;
}

.add-mod-btn a 
{
  color: #fff;
  line-height: 1em;
  font-family: 'Oswald', sans-serif;
}


.contents
{
  background-color: #fff;
  padding: 1em;
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.modules
{
  background-color: #123;
  border-radius: 5px;
}


.modu 
{
 margin-bottom: 30px;
}


.text 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20% 5%;
  text-align: center;
  pointer-events:none
}

.text h1
{
  color: #fff;
}

.text p
{
  color: #fff;
}


.form-control
{
  background-color: #123;
}

.mobile-menu-btn
{
  display: none;
}

.tableadmin
{
  border: 1px solid #000;
}

.item 
{
  border: none !important;
  padding: 1em;
  margin-bottom: 20px;
  background-color: #fff;
}

@media only screen and (max-width: 640px) {

.text 
{
  padding: 5% 10%;
}



.avatar
{
  /*display: none; <--- Med eller utan avatar i mobile?*/
  opacity: 0.2;
}

 .top 
 {
  position: relative;
  top: 0;
  left: 0;
  height: 10em;
 }

  .sidebar
  {
    position: absolute;
    float: left;
    top: 10em;
    display: none;
    width: 85%;
    z-index: 200;
    height: auto;
  }


.mobile-menu-btn
{
  color: #123;
  display: inline-block;
  float: left;
  width: 15%;
  padding: 1em;
  top: 2em;
  z-index: 200;
}
  

  .menu-btn-mobile
  {
    background-color: #123;
    height: auto;
    line-height: 4em;
    padding: 2em;
  }

  .login-logo
{
  background: radial-gradient(at center bottom, #123, #112);
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 3px solid #fff;
}
.login-logo h2
{
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  color: #fff;
  line-height: 200px;
}

}