/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

.quizzes {
    width: auto;
    height: auto;
}

.video_wrapper {
    width: 100%;
    height: auto;
    border: 1px solid black;
}


.video_name {
    width: 100%;
    height: auto;
}

.video_url {
    width: 100%;
    height: auto;
    display: none;
}

 .step_form {
   width: auto;
   height: auto;
   display: none;
 }

 .comment_form {
   width: auto;
   height: auto;
   display: none;
 }

.video_form {
    width: auto;
    height: auto;
    display: none;
}

.guide_form {
    width: auto;
    height: auto;
    display: none;
}

.assignment_form {
    width: auto;
    height: auto;
    display: none;
}

.examination_form {
    width: auto;
    height: auto;
    display: none;
}



.container
{
    padding: 0;
    margin: 0 10vw;
}

.full_width
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.header
{
    text-align: center;
    width: 100%;
    height: 4.7em;
    background-color: #000000;

}

.logodiv
{
    width: 250px;
    height: 60px;

}

.logodiv img
{

    max-width: 100%;
    height: auto;
}

.progressbar
{
    padding-top: 10px;
    padding-right: 10px;
}

.wrapper
{
    width: 50%;
    height: auto;
    margin-left: 10%;
}
