/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
@import 'foundation-icons';


/*  FONTS  */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic|Oswald:400,300|Montserrat);

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html, body
{
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
  background-color: #F4F3F3;
}


a:link, a:active, a:hover, a:visited {
  color: #ccc;
}

.ease
{
  transition: all 0.5s ease;
}

.bip-text {
  font-size: 14px!important;
}

.fi-x-fix {
  color: #000;
  font-size: 14px!important;
}


.fi-pencil, .fi-x
{
  font-size: 20px;
}

.cancel-btn {
  margin-left: 5px;
  border-radius: 0;
}

#reply_form {
  display: none;
}

.comments {
  width: auto;
  height: auto;
}

.replies {
  width: auto;
  height: auto;
  margin-left: 15%;
  display: none;
}

.replies hr
{
  width: 60%;
  text-align: center;
}


.table {
  width: 100%;
  height: auto;
}

.item:first-child {
  border-top: 1px solid #999;
}

.item {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background: #f3f3f3;
}

.td {
  width: 100%;
  height: auto;
}

#sortable:hover {
  cursor: pointer;
}

.quiz_form {
  display: none;
}

#questions_form {
  display: none;
}

.quizzes {
  width: auto;
  height: auto;
}

.hidden {
  display: none;
}

.video_wrapper {
  width: 100%;
  height: auto;
}

.video_name {
  width: 100%;
  height: auto;
}

.step_form {
  position: absolute;
  width: 500px;
  top: 50px;
  right: 0;
  padding: 5%;
  background-color: #EDEAE8;
  height: auto;
  display: none;
  z-index: 999999;
  border: 0 0 1px 1px solid #C9C7C5;
  border-radius: 0 0 0 3px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.3);
box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.3);
}

.comment_form {
  width: auto;
  height: auto;
  display: none;
}

.form-style
{
  margin-top: 19px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #E3E1DE;
}
/*-------------- SEARCH BAR --------------*/

input#user_search.search_form.tt-query
{
height: 50px;
background-color: #fff;
}

.sbtnstyle
{
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

input.search_form
{
  font-family: 'Roboto', sans-serif;
  width:300px; margin-left:-15px; height:50px; padding-right: 70px;
}

.searchej
{
  margin-left: -15px;
  height: 50px;
  position:relative; padding:0; margin:0;
}

#input_img 
{ position:absolute; bottom:15px; right:15px; width:30px; height:30px; 
  cursor: pointer;
}

#user_search
{
  background-color: #fff !important;
  width: 300px;
  height: 50px;

}

#user_search:focus
{
  border: none;
}

.tt-suggestion
{
  background-color: #fff;
}

/*-------------- END SEARCH BAR --------------*/

.video_form {
  width: auto;
  height: auto;
  display: none;
}

.guide_form {
  width: auto;
  height: auto;
  display: none;
}

.assignment_form {
  width: auto;
  height: auto;
  display: none;
}


.module_form {
  position: absolute;
  width: 500px;
  top: 50px;
  right: 0;
  padding: 5%;
  background-color: #EDEAE8;
  height: auto;
  display: none;
  z-index: 999;
  border: 1px solid #C9C7C5;
  border-radius: 0 0 0 3px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.3);
}

.examination_form {
  position: absolute;
  width: 500px;
  top: 50px;
  right: 0;
  padding: 5%;
  background-color: #EDEAE8;
  height: auto;
  display: none;
  z-index: 999999;
  border: 1px solid #C9C7C5;
  border-radius: 0 0 0 3px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.3);
box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.3);
}

.wrapper
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}



/*-------------- CONTENT CONTAINER --------------*/
.in
{
  height: 100%;
  background-color: #F4F3F3;
}

.container
{
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/*-------------- END CONTENT CONTAINER --------------*/

/*-------------- FULL WIDTH CLASS --------------*/
.fw {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
/*-------------- END FULL WIDTH CLASS --------------*/


/*-------------- LOGIN CSS --------------*/
.startWrapper
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  display: inline-block;
  background-color: #1a1f1d;
}

.login-pos
{
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.login-logo h2
{
  font-family: 'Roboto', sans-serif;
  font-size: 8em;
  color: #fff;

  line-height: 300px;
}

.login-logo-div
{
  margin: 4em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-logo
{
    background-color: #1a1f1d;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: 3px solid #fff;
}

.login-btn-pos
{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.starter-pos
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}


/*-------------- END LOGIN CSS --------------*/

/*-------------- BUTTONS --------------*/

/*---- FORM BUTTON ----*/
.form-btn
{
  border-radius: 3px;
}

.form-btn:hover
{
  background-color: rgba(0,0,0,0.6);
}



/*---- TINY ----*/

.answer-btn
{
  display: block;
}

.answer-btn:hover
{
  cursor: pointer;
  color: #888;
}

/*---- END FORM BUTTON ----*/

/*---- LOGIN BUTTON ----*/
.loginbtn
{
  width: 25rem;
  height: 5rem;
  color: #fff !important;
  background: url(ginlog.png);
  border-radius: 5px !important;
  border: 1px solid #000;
  text-align: center;
  line-height: 5rem;
  padding-left: 6rem;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.loginbtn:hover
{

  color: #fff !important;
  border-radius: 5px !important;
  border: 1px solid #000;
  text-align: center;
}

/*---- END LOGIN BUTTON ----*/


/*---- SEARCH BUTTON ----*/

.input-group-btn input
{
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: #313643;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin: -1px;
  border-style: solid;
  border-width: 1px;
  overflow: visible;
  font-size: 14px;
  height: 2.45rem;
  line-height: 2.6rem;
  text-align: center;
}

.input-group-btn input:hover
{
  background-color: #444b5c;
}

.input-group-btn p
{
  color: #fff;
}

/*---- END SEARCH BUTTON ----*/

/*---- RED BUTTONS ----*/
.redbtn
{
  height: 35px;
  margin: 8px;
  border-radius: 7px;
  padding: 10px 30px;
  background-color: #e74c3c;
}
.redbtn:hover
{
  background-color: #9d261a;
  color: #ccc;
}

.redbtn:focus
{
 outline: none;
   background-color: #9d261a;

}


.redbtn p
{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/*---- END RED BUTTONS ----*/


/*-------------- END BUTTONS --------------*/



/* -----------   SIDEBAR MENU  ------------ */

/*---- LOGO DIV ----*/
.top
{
  position: fixed;
  background-color: #1a1f1d;
  margin: 0;
  padding: 0;
  color: #fff;
  height: 10em;
  text-align: center;
  line-height: 10em;
}

.top img
{
  width: 80%;
  height: auto;
}

/*---- END LOGO DIV ----*/

.sidebar
{
  position: fixed;
  top: 10em;
  height: 100%;
  background-color: #1a1f1d;
  padding-top: 20px;
}


.side
{
  background-color: #1a1f1d;
  height: 50px;
  display: block;
  cursor: pointer;
  align-self: center;
  padding: 0;
}

.side:hover a
{
  color: #999;
}

.side i
{
  margin-right: 15px;
  font-size: 20px!important;
}

.side p
{
  margin-left: 2em;
  color: #666;
  line-height: 4;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.side p:hover
{
  color: #999;
}

.side a
{
  color: #666;
  line-height: 3em;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.side a:hover
{
  color: #999;
}

/*---- ACHIEVMENT ----*/
.arch
{
  text-align: center;
  color: #fff;
  display: none;
  height: auto;
  padding: 1em;
  z-index: 10;
}


.arch h4
{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
}

.arch img
{
  width: 75px;
  height: 75px;
}

.arch img:hover
{
  transform: scale(2);
  z-index: 10;
}

/*---- END ACHIEVMENT ----*/


/*---- FEED ----*/

.fed-toggle
{
  margin-top: 20px;
  display: none;
}

.feed
{
  position: absolute;
  bottom: 12em;
  left: 0;
  text-align: center;
  height: auto;
  width: 100%;
  color: #fff;
  overflow-y: scroll;
}

.flode a
{
  font-family: 'Roboto', sans-serif;
  color: #666;
  font-size: 14px;
  text-decoration: underline;
}

.avtxt
{
  height: 2em;
  margin-bottom: 1.5em;
  line-height: 2em;
  padding: 0;
  text-align: center;

}

.flod
{
  padding: 10px;
  height: auto;
  width: 100%;
  border: 1px solid #333;
  border-radius: 5px;
}

.avtxt p 
{
  font-size: 12px !important;
  color: #666;
}

/*---- END FEED ----*/

/* -----------   END SIDEBAR MENU  ------------ */

/* -----------   TOPBAR  ------------ */
.topbar
{
  height: 50px;
  background-color: #1a1f1d;
}



.bread
{
  line-height: 50px;
  color: #383e3c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-left: 50px;
}

/* -----------   END TOPBAR MENU  ------------ */


/* -----------   STEPS SHOW  ------------ */

.td-headline
{
  background-color: #e55d5d!important;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  z-index: 10;
}

.td.td-headline h4
{
  color: #fff;
}

.item
{
  border: none !important;
  padding: 1em;
  margin-bottom: 20px;
  background-color: #F4F3F3;
}

/*---- STEPS CONTENT BOXES ----*/
.td
{
  background-color: #fff;
  padding: 10px;
  border: 1px solid #c1bfbf;
}

.td.td-content
{
  width: 97%;
  margin: -10px auto 0 auto;
  z-index: 10;
}

.table 
{
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}
/*---- END STEPS CONTENT BOXES ----*/

/*---- QUIZ FIX ----*/
.qa-headline
{
  margin: 0 auto;
}

.quiz-fix
{
  margin-bottom: -10px;
}

.question-fix
{
  margin-top: 0;
}

/*---- END QUIZ FIX ----*/

.checkbox-container
{
  height: auto;
  width: 100%;
  padding: 10px;
  margin: -10px auto 0 auto;
  border-radius: 3px;
  z-index: -20;
  background-color: #e55d5d!important;
}


/*---- STEP MODULES ----*/
.step-comp
{
  z-index: -5;
  width: 0%;
  height:100%;
  background:#2BAAe2;
  position:absolute;
  opacity:0.8;
  border-right:1px solid black;

}

.step
{
  display: block;
  width: 100%;
  height: 170px;
  z-index: 199;
  text-align: center;
  margin-bottom: 3em;
  background-color: #333333;
  opacity: 0.9;
  padding: 0;
}

.step-bottom
{
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #1A1F1D;
  z-index: 100;
  width: 100%;
}

.step-bottom p
{
  line-height: 50px;
}

.step a
{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  z-index:10000000;
}

.step p
{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  z-index:100000;
}
.step h2
{
  z-index:100;
}

.step-gray
{
  opacity: 0.3;
}

/*---- ENDSTEP MODULES ----*/

/*------------- END STEPS SHOW ------------*/


/*--------- SLIDER ---------*/

.sliderimg
{
  height: 350px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}


.slider h2
{
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.sliderimg img 
{
  width: 100%;
  height: 350px;
  z-index: 1;
}

.imageslider
{
  padding: 0;
}

.slider img 
{
  height: 150px;
}

.slider
{
  position: absolute;
  padding: 20px 40px;
  background-color: rgba(39,44,40,0.8);
  height: 80%;
  width: 90%;
  margin: 3.2% 5%;
  z-index: 10;
  color: #fff;
  overflow: hidden;
}

/*--------- END SLIDER ---------*/


.contents
{
  background-color: #F4F3F3;
  display: flex!important;
  flex-direction: row!important;
  justify-content: center!important;
}


/*--------- CATEGORY INDEX ---------*/

/*---- MODULES ----*/
.moduwrapper
{
   display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  background-color: #F4F3F3;
}


.modu
{
  height: 260px;
  margin: 0 2em 2em 0;
  padding: 0;
  display: block;
}


.mod-headline
{
width: 100%;
height: 30%;
margin:0;
text-align: center;

}

.headline-p h1
{
  margin-top: 3%;
  line-height: 200%;
  font-size: 2em;
  padding: 0 3.5vw;
  position: relative;
  font-family: 'Roboto', 100;
  color: #fff;
}

.headline-p
{
  height: 100%;
  width: 100%;
  padding: 0;
   display: flex;
  flex-direction: row;
  justify-content: center;
}


.mod-desc
{
  width: 100%;
  height: 70%;
  padding: 15%;
}

.desc-p
{
  position: absolute;
  width: 70%;
  padding: 0;
   display: flex;
  flex-direction: row;
  justify-content: center;
}

.desc-p p
{
  color: #fff;
}

/*---- END MODULES ----*/


/*------------- PAGE HEADLINE -------------*/
.headline
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
}
/*------------- END PAGE HEADLINE -------------*/

/*------------- PROFILE CONTENT -------------*/

.admincontent
{
  margin-top: 20px !important;
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 10px !important;
  background-color: #fff !important;
}

.admincontent a 
{
  color: #000;
}

.admin-area
{
  border-right: 1px solid #cecece;
}

.admin-area a 
{
  color: #000;
}

.admin-avatar
{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: 10px solid #F4F3F3;
  margin: -85px auto 10px auto;
  overflow: hidden;
}

.admin-avatar img 
{
  width: 100%;
  height: auto;
}

/*---- PROFILE MENU TABS ----*/
.tab 
{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #cecece;
  text-align: center;
  background-color: #fff;
  margin: 0;
}

.tab-menu
{
  margin: -45px -46px 0 0;
  width: auto;
  display: block;
  padding: 5px;
}

/*---- END PROFILE MENU TABS ----*/

.activity-content
{
  padding: 20px;
}

.comments-content
{
  display: none;
  padding: 20px;
}

.badge-content
{
  display: none;  
  padding: 20px;
}

/*------------- END PROFILE CONTENT -------------*/

/*------------- MOBILE CLASSES -------------*/

/*---- MOBILE MENU BUTTON ----*/
.mobile-menu-btn
{
  display: none;
}
/*---- END MOBILE MENU BUTTON ----*/

/*------------- END MOBILE CLASSES -------------*/


/*------------- MOBILE MEDIA QUERY -------------*/

@media only screen and (max-width: 640px) {

          /*---- LOGO ----*/
          .top
          {
            position: relative;
            top: 0;
            left: 0;
            height: 10em;
          }
          /*---- END LOGO ----*/

          .text
          {
            padding: 5% 10%;
          }

          /*---- MOBILE MENU ----*/

          .mobile-menu-btn
          {
            color: #1a1f1d;
            display: inline-block;
            float: left;
            width: 15%;
            padding: 1em;
            top: 0;
            z-index: 200;
          }


          .menu-btn-mobile
          {
            background-color: #123;
            height: auto;
            line-height: 4em;
            padding: 2em;
          }

          /*---- END MOBILE MENU ----*/

          /*---- SIDEBAR ----*/
          .sidebar
          {
            position: absolute;
            top: 10em;
            display: none;
            padding: 0;
            width: 85%;
            height: 100%;
            z-index: 200;
          }

        .feed
        {
          overflow-y: auto;
        }

        /*---- END SIDEBAR ----*/

        /*---- LOGIN PAGE ----*/
          .login-logo
          {
            background-color: #1a1f1d;
            width: 200px;
            height: 200px;
            border-radius: 200px;
            border: 3px solid #fff;
          }
          .login-logo h2
          {
            font-family: 'Roboto', sans-serif;
            font-size: 4em;
            color: #fff;
            line-height: 200px;
          }

        /*---- END LOGIN PAGE ----*/

        /*---- MOBILE TOPBAR ----*/
        .bread 
        {
          display: none;
        }

        .redbtn
        {
          width: 6em;
          font-size: 12px;
          padding: 2px 5px;
        }

          .text
          {
            padding: 20% 5%;
          }

          .text h1
          {
            font-size: 2em;
          }

        /*---- END MOBILE TOPBAR ----*/

          .contents
        {
          background-color: #fff;
          margin: 3em 0 0 0;
        }

        /*---- MOBILE SLIDER NONE ----*/
        .sliderimg
        {
          display: none;
        }

        .slider
        {
          display: none;
        }

        /*---- END MOBILE SLIDER NONE ----*/


}

/*------------- END MOBILE MEDIA QUERY -------------*/



