@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic|Oswald:400,300|Montserrat);

.gbadge
{
	clear: both;
}

.sbadge
{
	display: inline-block;
}

.smallbadge
{
	display: inline-block;
}

.goldbadge{
  position: relative;
  width: 200px;
  height: 200px;
  background: url("badgegold.png");
  background-size: 200px;
  text-align: center;

 	.bheadline{
	    position: absolute;
	    top: 37%;
	    left: 17%;
	    width: 65%;
	    height: 4em;
	    padding: 0;
	    text-align: center;

		h3{
		font-size: 1.2em;
	    line-height: 3em;
	    padding: 0;
	    letter-spacing: -1;
	    font-family: 'Oswald', sans-serif;
		}

	}

   	.bstep{
	   	position: absolute;
		top: 73%;
		left: 30%;
		width: 40%;
		height: 2em;
		text-align: center;

	    p{
			font-family: 'Oswald', sans-serif;
		}
   	}

}

.goldbadge:hover
{
	transform: scale(2);
  z-index: 10;
}

.bluebadge{
  position: relative;
  width: 100px;
  height: 100px;
  background: url("badgeblue.png");
  background-size: 100px;
  text-align: center;

 	.bheadline{
	    position: absolute;
	    top: 30%;
	    left: 17%;
	    width: 65%;
	    height: 4em;
	    padding: 0;
	    text-align: center;

		h3{
		font-size: 10px;
	    line-height: 3em;
	    padding: 0;
	    letter-spacing: -1;
	    font-family: 'Oswald', sans-serif;
		}

	}

   	.bstep{
	   	position: absolute;
		top: 68%;
		left: 30%;
		width: 40%;
		height: 2em;
		text-align: center;

	    p{
			font-family: 'Oswald', sans-serif;
			font-size: 8px;
		}
   	}

}

.bluebadge:hover
{
	transform: scale(2);
  z-index: 10;
}

.pinkbadge{
  position: relative;
  width: 100px;
  height: 100px;
  background: url("badgepink.png");
  background-size: 100px;
  text-align: center;

 	.bheadline{
	    position: absolute;
	    top: 30%;
	    left: 17%;
	    width: 65%;
	    height: 4em;
	    padding: 0;
	    text-align: center;

		h3{
		font-size: 10px;
	    line-height: 3em;
	    padding: 0;
	    letter-spacing: -1;
	    font-family: 'Oswald', sans-serif;
		}

	}

   	.bstep{
	   	position: absolute;
		top: 68%;
		left: 30%;
		width: 40%;
		height: 2em;
		text-align: center;

	    p{
			font-family: 'Oswald', sans-serif;
			font-size: 8px;
		}
   	}

}

.pinkbadge:hover
{
	transform: scale(2);
  z-index: 10;
}

.orangebadge{
  position: relative;
  width: 100px;
  height: 100px;
  background: url("badgeorange.png");
  background-size: 100px;
  text-align: center;

 	.bheadline{
	    position: absolute;
	    top: 30%;
	    left: 17%;
	    width: 65%;
	    height: 4em;
	    padding: 0;
	    text-align: center;

		h3{
		font-size: 10px;
	    line-height: 3em;
	    padding: 0;
	    letter-spacing: -1;
	    font-family: 'Oswald', sans-serif;
		}

	}

   	.bstep{
	   	position: absolute;
		top: 68%;
		left: 30%;
		width: 40%;
		height: 2em;
		text-align: center;

	    p{
			font-family: 'Oswald', sans-serif;
			font-size: 8px;
		}
   	}

}

.orangebadge:hover
{
	transform: scale(2);
  z-index: 10;
}

.greenbadge{
  position: relative;
  width: 100px;
  height: 100px;
  background: url("badgegreen.png");
  background-size: 100px;
  text-align: center;

 	.bheadline{
	    position: absolute;
	    top: 30%;
	    left: 17%;
	    width: 65%;
	    height: 4em;
	    padding: 0;
	    text-align: center;

		h3{
		font-size: 10px;
	    line-height: 3em;
	    padding: 0;
	    letter-spacing: -1;
	    font-family: 'Oswald', sans-serif;
		}

	}

   	.bstep{
	   	position: absolute;
		top: 68%;
		left: 30%;
		width: 40%;
		height: 2em;
		text-align: center;

	    p{
			font-family: 'Oswald', sans-serif;
			font-size: 8px;
		}
   	}

}

.greenbadge:hover
{
	transform: scale(2);
  z-index: 10;
}
