
body
{
	width: 100%;
	background-image: asset_path('obg.png')
}


.nav_header
{
	width: 100%;
	height: 5em;
	background-color: #000000;
	overflow: hidden;
}


.logo
{
	position: absolute;
	top: 0.7em;
	left: 2em;
	width: 15em;
	color: white;
}


.list
{
	position: absolute;
	right: -10vw;
	margin-right: 10vw;
}

.list li
{
	display: inline-block;
	color: white;
	height: 5em;
	text-align: center;
	
	text-decoration: none;
}

.li_menu
{
	width: 5em;
}

.dropdown.button, button.dropdown
{
	height: 4em;
}

.active_user
{
	background-color: #005F70;
	width: 10em;
	height: 5em;
}


.mod
{
	width: 100%;
	height: 14em;
	padding: 1em;
	margin: 2vh;
	border-radius: 1em;
	overflow: hidden;
}

.mods
{
	height: 15em;
	margin-right: 2em;
	border-radius: 2em;
	display: block;
}

.mods p
{
	color: #fff;
}
.mods h4
{
	color: #fff;
}

li.logo
{
	position: absolute;
	top: 2em;
	left: 4em;
	width: 3em;
	height: 3em;
	list-style-type: none;
}

li.headline
{
	float: left;
	margin-left: 3.3em;
	list-style-type: none;
}




.headline h4
{
	color: #fff;

}

.text p
{
	color: #fff;
}


.feed
{
	width: 100%;
	background-color: #fff;
	overflow-y: auto;
	max-height: 70vh;
	
}

.f-dropdown li:hover, .f-dropdown li:focus
{
	background: #fff;
}

.f-dropdown li a:hover
{
	background-color: #fff;
}
