
body
{
	width: 100%;
	background-image: asset_path('obg.png');
}


.nav_header
{
	width: 100%;
	height: 4em;
	background-color: #000000;
	overflow: hidden;
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 6em;
}


.logo
{
	position: absolute;
	top: 0.3em;
	left: 2em;
	width: 15em;
	color: white;
}


.list
{
	position: absolute;
	right: -10vw;
	margin-right: 10vw;
}

.list li
{
	display: inline-block;
	color: white;
	height: 5em;
	text-align: center;
	
	text-decoration: none;
}

.li_menu
{
	width: 5em;
}

.dropdown.button, button.dropdown
{
	height: 3.19em;
	border: 0;
}

.active_user
{
	background-color: #005F70;
	width: 10em;
	height: 5em;
}


.mod
{
	width: 100%;
	height: 14em;
	padding: 1em;
	margin: 2vh;
	border-radius: 1em;
	overflow: hidden;
}

.mods
{
	height: 15em;
	margin-right: 2em;
	border-radius: 1em;
	display: block;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.4);
box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.4);
}



li.logo
{
	position: absolute;
	top: 2em;
	left: 4em;
	width: 3em;
	height: 3em;
	list-style-type: none;
}

li.headline
{
	float: left;
	margin-left: 3.3em;
	list-style-type: none;
}




.headline h4
{
	color: #fff;

}

.text p
{
	color: #fff;
}


.feed
{
	width: 100%;
	background-color: #fff;
	overflow-y: auto;
	max-height: 70vh;
	
}

button, .button.dropdown
{
	background-color: #56adba;
	border-left: 1px solid #bbc4d3;
}

.f-dropdown li:hover, .f-dropdown li:focus
{
	background: #fff;
}

.f-dropdown li a:hover
{
	background-color: #fff;
}

#container
{
	margin-bottom: 10em;
	padding: 5%;
}


