@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic|Oswald:400,300|Montserrat);

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html, body
{
	height:100%;
	width:100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	overflow-x: hidden;
}





/* ---------------------Navigation bar -----------------*/

/*Logo*/

.logotype
{
	position: absolute;
	background-color: #123;
	background-image: url(http://i.imgur.com/kE7gHBC.png?1);
	left: 5%;
	height:100px;
	width:100px;
	border-radius:80px;
	border:2px solid #ddd;
	background-size:cover;
	margin:auto;
	z-index: 2;

}

/*Navigationbar*/
#menu-bar
{
	width: 100%;
	height: 5em;
	background-color: #123;
	border-bottom: 2px solid #ddd;
}

/*Search box*/

.search-box
{
	height: auto;
	float: right;
}
.search-box ul
{
	height: 100%;
	margin-right: 2em;
	margin-top: -0.6em;
}

.search-box li
{
	height: 100%;
	display: inline-flex;
}

.search-form
{
	height: 100%;
	border: none;
}


.btn-search
{
	background-color: #123;
	color: #fff;
}

.fi-magnifying-glass
{
	font-size: 30px;
}

/*Name button*/
.fi-arrow-down
{
	margin-left: 1em;
}

.button-profile
{
	height: 100%;
	border:none;
	border-left: 1px solid #fff;
	background-color: #1e7a93;
	padding: 0 3em;
	font-size: 14px;
	color: #fff;
	float:right;
}

.button-profile:hover
{
	background-color: #123;
}

.button-profile:focus
{
	background-color: #1e7a93;
}


.list li
{
	display: inline-block;
	color: white;
	height: 5em;
	text-align: center;

	text-decoration: none;
}


.dropdown.button, button.dropdown
{
	height: 3.19em;
	border: 0;
}

.active_user
{
	background-color: #005F70;
	width: 10em;
	height: 5em;
}

#drop1 a:hover
{
	color: #29a9cb;
}
/* ------------------- Navigation bar ENDS--------------------- */



/* ------------------- Modules --------------------- */

/*Modules*/
.mods
{
	height: 15em;
	margin-right: 2em;
	border-radius: 2em;
	display: block;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.4);

}


li.logo
{
	position: absolute;
	top: 2em;
	left: 4em;
	width: 3em;
	height: 3em;
	list-style-type: none;
}

/* Module headline */
li.headline
{
	float: left;
	margin-left: 3.3em;
	list-style-type: none;
}

.headline h4
{
	color: #fff;

}

/*Module body text*/
.text p
{
	color: #fff;
}

.mod-headline h2
{
	color: #fff;
}

.row.act
{
	height: 5em;
}
.row.act p
{

}

/* ------------------- Modules ENDS--------------------- */


/* -------------------  FEED --------------------- */

/* Feed box */
.feed
{
	width: 100%;
	background-color: #1f1f1f;
	overflow-y: auto;
	max-height: 70vh;

}

/* ------------------- FEED ENDS--------------------- */


button, .button.dropdown
{
	background-color: #56adba;
	border-left: 1px solid #bbc4d3;
}

.f-dropdown li:hover, .f-dropdown li:focus
{
	background: #fff;
}

.f-dropdown li a:hover
{
	background-color: #fff;
}

#container
{
	margin-bottom: 10em;
	padding: 5%;
}



/* ------------------- Login placement --------------------- */

.login-pos
{
	margin-top: 20vh;
	display: flex;
	flex-direction: row;
	justify-content:center;
}
.login-logo h2
{
	font-family: 'Roboto', sans-serif;
	font-size: 8em;
	color: #fff;

	line-height: 300px;
}

.login-logo-div
{
	margin: 4em;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.login-logo
{
    background-color: #1a1f1d;
	width: 300px;
	height: 300px;
	border-radius: 300px;
	border: 3px solid #fff;
}

.login-btn-pos
{
	display: flex;
	flex-direction: row;
	justify-content:center;
}

.loginbtn
{
	width: 25rem;
	height: 5rem;
	color: #fff !important;
	background: url(ginlog.png);
	border-radius: 5px !important;
	border: 1px solid #000;
	text-align: center;
	line-height: 5rem;
	padding-left: 6rem;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}

.loginbtn:hover
{

	color: #fff !important;
	border-radius: 5px !important;
	border: 1px solid #000;
	text-align: center;


}

.ease
{
	transition: all 0.5s ease;
}

.has-form
{
	margin: 1em;
}
/* ------------------- Login placement ENDS--------------------- */


.tt-dropdown-menu
{
	position: absolute;
	top: 0;
	background-color: #fff;
	border: 1px solid #000;
	padding: 5px;
	height: auto;
}

.input-group-btn input
{
	background-color: #1e7a93;
	border: 1px solid #000;
	padding: 1em 2em;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}

.activity{
	border-bottom: solid 1px #CCC;
	padding:16px 0;
	em{
		color: #777;
		font-size: 12px;
		padding-left: 5px;
	}
}

/* ----------------- NEW CSS --------------- */
